# Legacy package requirement. ml_ecosystem_snapshots v0.0.3+ provides a transparent
# import aliasing layer (ml_ecosystem_snapshots._alias) mapping ml_framework_snapshots to ml_ecosystem_snapshots.
ml_framework_snapshots @ git+https://github.com/SamuelMarks/ml-framework-snapshots.git@master
